@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply inline-flex items-center justify-center rounded border border-transparent bg-indigo-600 px-5 py-2 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-full sm:w-auto;
}

.btn:hover {
  opacity: 0.8;
}

address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
}

input[type='text'],
input[type='tel'],
input[type='number'] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #6b7280;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-color: rgb(212 212 216);
  line-height: 1.5rem;
}

fieldset {
  border: none;
  margin: 0;
}

fieldset:disabled {
  opacity: 0.5;
}
